
.matrix {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
.matrix__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.matrix__cell {
  align-items: center;
  aspect-ratio: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  height: var(--cell-size);
  width: var(--cell-size);
  color: rgba(0, 0, 0, 0.0);
  /* немного подпрыгивающая анимация падения через cubic-bezier */
  transition:
    color 0.15s 0s ease-out,
    background-color 0.15s 0s ease-out,
    transform 0.5s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.35s 0s ease-out;
}

.matrix__cell--hidden {
  opacity: 0;
}

.matrix__cell--clickable {
  cursor: pointer;
}

.matrix__cell--m-1 { background-color: var(--color-matrix-cell-m-1); }
.matrix__cell--m-2 { background-color: var(--color-matrix-cell-m-2); }
.matrix__cell--m-3 { background-color: var(--color-matrix-cell-m-3); }
.matrix__cell--m-4 { background-color: var(--color-matrix-cell-m-4); }
.matrix__cell--m-5 { background-color: var(--color-matrix-cell-m-5); }
.matrix__cell--m-6 { background-color: var(--color-matrix-cell-m-6); }
.matrix__cell--m-7 { background-color: var(--color-matrix-cell-m-7); }
.matrix__cell--m-8 { background-color: var(--color-matrix-cell-m-8); }
.matrix__cell--m-9 { background-color: var(--color-matrix-cell-m-9); }
